<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA_Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Registraion</title>
</head>

<body>
  <h1>Registration Page</h1>

  <form method="POST" action="" style="text-align: center;">
    {{ form.hidden_tag() }}
    {{ form.username }}
    {{ form.password }}
    {{ form.submit }}

  </form>

  <a href="{{url_for('login')}}">Already have an account? Log in here</a><br>
  </body>
</html>